[Desktop Entry]
Encoding=UTF-8
Name=Bitcreds
Comment=Bitcreds P2P Cryptocurrency
Comment[de]=Verbinde mit dem Bitcreds peer-to-peer Netzwerk
Comment[fr]=Bitcreds, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcreds, eşten eşe kriptografik sanal para birimi
Exec=bitcreds-qt %u
Terminal=false
Type=Application
Icon=bitcreds128
MimeType=x-scheme-handler/bitcreds;
Categories=Office;Finance;
